/*** Global ***/
@font-face {
  font-family: 'Biotif';
  src: local('Biotif'), url(./fonts/Biotif-Regular.ttf) format('truetype');
}

body {
    background-color: #fefaf6;
    color: #242320;
    font-family: "Biotif";
}

/*** NavBar ***/
.nav-default {
    background-color: #fefaf6;
}

.nav-recipes {
    background-color: #ffeaee;
}

.navbar-nav {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav > a{
    font-size: 1.2rem;
    margin-left:36px;
    margin-right:36px;
}

.navbar-light .navbar-nav .nav-link {
    color: #242320;
}

.nav-icon {
    width: 16px;
}

/*** Home ***/

/*** Recipes ***/
.recipes-container {
    background: linear-gradient(6deg, #dacdff 1%, rgba(218,205,255,0) 47%),#ffeaee;
    height: 60vw;
}
